* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Source Serif Pro;
  background-color: rgb(247, 245, 245);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::placeholder {
  font-family:  Source Serif Pro;
  color: black;
}